/**
 * View/edit mode toggle.
 */

/* TODO: replace this with a "physical toggle" instead of the current radios.*/
#ipe-view-edit-toggle .form-item { 
  float: left;
  margin-right: 1em;
  margin-top: .5em;
}




/**
 * Edit mode: overlay + candidate editables + editables being edited.
 *
 * Note: every class is prefixed with "ipe-" to prevent collisions with modules
 * or themes. In IPE-specific DOM subtrees, this is not necessary.
 */

#ipe-overlay {
  position: fixed;
  z-index: 250;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 64px; /* offset for toolbar -> TODO: use Drupal.toolbar.height() */
  left: 0px;
}

.ipe-editable {
  z-index: 300;
  position: relative;
  outline: 1px solid #999;
}

.ipe-editable.ipe-entity {
  outline: 1px solid white;
}

.ipe-editable.ipe-highlighted {
  outline: 1px solid #0199FF;
  min-width: 200px; /* TODO: we even need them to be at least fairly wide! */
}

.ipe-field.ipe-editable.ipe-highlighted,
.ipe-field.ipe-type-direct .ipe-editable.ipe-highlighted {
  box-shadow: 0 0 8px #666;
}
.ipe-editable.ipe-entity.ipe-highlighted {
  box-shadow: 0 0 5px #666;
}




/**
 * Edit mode: modal.
 */
#ipe-modal {
  z-index: 350;
  position: fixed;
  top: 40%;
  left: 40%;
  box-shadow: 3px 3px 5px #333;
  background-color: white;
  border: 1px solid #0199FF;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#ipe-modal .main {
  font-size: 130%;
  margin: 25px;
  padding-left: 40px;
  background: transparent url('../images/attention.png') no-repeat;
}

#ipe-modal .actions {
  border-top: 1px solid #CCC;
  padding: 3px inherit;
  text-align: center;
}

/* Modal active: prevent user from interacting with toolbar & editables. */
.ipe-toolbar-container.ipe-belowoverlay,
.ipe-editable.ipe-belowoverlay {
  z-index: 200;
}




/**
 * Edit mode: form.
 */
#ipe-backstage {
  display: none;
}

.ipe-form {
  position: absolute;
  z-index: 300;
  /*padding: .5em; */
}

.ipe-form .loading {
  min-height: 22px;
}

/* Default form styling overrides. */
.ipe-form form { padding: 1em; }
.ipe-form .form-item { margin: 0; }
.ipe-form .form-wrapper { margin: .5em; }
.ipe-form .form-actions { display: none; }




/**
 * Edit mode: toolbars
 */

/* Trick: wrap statically positioned elements in relatively positioned element
   without changing its location. This allows us to absolutely position the
   toolbar.
*/
.ipe-toolbar-container,
.ipe-form-container {
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

/* The toolbar; these are not necessarily visible. */
.ipe-toolbar {
  position: absolute;
  top: -32px;
  height: 32px;
  z-index: 300;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.ipe-toolbar.primary {
  left: 0px; /* LTR */
}
.ipe-toolbar.secondary {
  right: 0px; /* LTR */
}
.ipe-field .ipe-toolbar {
  top: -31px; /* For some reason, we need different absolute positioning when the toolbar appears for a field. */
}

/* The toolbar contains toolgroups; these are visible. */
.ipe-toolgroup {
  float: left; /* LTR */
  padding-left: 5px; /* LTR */
  outline: 1px solid #999;
  background-color: white;
  box-shadow: 0 0 8px #666;
}

/* Entity toolgroup. */
.ipe-toolgroup.entity,
.ipe-toolgroup.info {
  float: left; /* LTR */
  box-shadow: 0 -3px 8px #666;
  outline: 1px solid #0199FF;
}

/* Operations toolgroup. */
.ipe-toolgroup.ops {
  float: right; /* LTR */
  box-shadow: 0 -2px 8px #777;
}


/**
 * Edit mode: buttons (in both modal and toolbar).
 */
#ipe-modal a,
.ipe-toolbar a {
  float: left; /* LTR */
  display: block;
  height: 21px;
  min-width: 21px;
  padding: 3px 5px 3px 6px;
  margin: 1px 5px 1px 0;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}
#ipe-modal a {
  float: none;
  display: inline-block;
}

#ipe-modal a:link,
#ipe-modal a:visited,
#ipe-modal a:hover,
#ipe-modal a:active,
.ipe-toolbar a:link,
.ipe-toolbar a:visited,
.ipe-toolbar a:hover,
.ipe-toolbar a:active {
  text-decoration: none;
}

/* Button with icons. */
#ipe-modal a span,
.ipe-toolbar a span {
  width: 22px;
  height: 19px;
  display: block;
  float: left;
}
.ipe-toolbar a span.close {
  background: url('../images/close.png') no-repeat 2px 2px;
}

.ipe-toolbar a span.close:hover {
  /* TODO: use a different "close" image */
}


.ipe-toolbar a.blank-button {
  color: black;
}

#ipe-modal a.blue-button,
.ipe-toolbar a.blue-button {
  color: white;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(93% 4% -90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,93% 4%,93% 81%,color-stop(0, rgb(111,194,242)),color-stop(1, rgb(78,151,192)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  background-image:linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0);
}

#ipe-modal a.gray-button,
.ipe-toolbar a.gray-button {
  color: #666;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(26% 0% -90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,26% 0%,26% 94%,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(204,204,204)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  background-image:linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0);
}

#ipe-modal a img.gray-button.close img, .gray-button.save img, .blue-button.save img,
.ipe-toolbar a img.gray-button.close img, .gray-button.save img, .blue-button.save img {
  padding: 0;
}

.gray-button img, .blue-button img,
.gray-button img, .blue-button img {
  padding-right: 5px;
}

#ipe-modal a.blue-button:hover,
.ipe-toolbar a.blue-button:hover {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(93% 4% -90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,93% 4%,93% 81%,color-stop(0, rgb(111,194,242)),color-stop(1, rgb(78,151,192)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  background-image:linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  border-color:rgb(85,165,211);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

#ipe-modal a.gray-button:hover,
.ipe-toolbar a.gray-button:hover {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(26% 0% -90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,26% 0%,26% 94%,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(204,204,204)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  background-image:linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  border-color:rgb(205,205,205);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true);
}

#ipe-modal a.blue-button:active,
.ipe-toolbar a.blue-button:active {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(93% 4% -90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,93% 4%,93% 81%,color-stop(0, rgb(111,194,242)),color-stop(1, rgb(78,151,192)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  background-image:linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /*	width:66px;
  height:24px;*/
  border-color:rgb(85,165,211);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

#ipe-modal a.gray-button:active,
.ipe-toolbar a.gray-button:active {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(26% 0% -90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,26% 0%,26% 94%,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(204,204,204)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  background-image:linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  border-color:rgb(205,205,205);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true);
}
